version: "3.8"

services:
  memevelop-server:
    image: "memevelop-server:latest"
    build:
      context: .
      dockerfile: resource/docker/server/Dockerfile
    networks:
      - memevelop-network

  memevelop-redis:
    image: "redis:latest"
    networks:
      - memevelop-network

networks:
  memevelop-network:
    driver: bridge
    attachable: true

volumes:
  memevelop-server-data: